.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(53, 206, 206);
}

.container {
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.3);
  background-color: #fff;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
